version: 2
updates:
  # Enable version updates for GitHub Actions only
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 3